# Mac
.idea/
.DS_Store

# SAM
.aws-sam-iacs
.aws-sam

# zip files
src/vsnandy_lambda.zip

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars
*.tfvars
*.tfvars.json

# overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configs
.terraformrx
terraform.rc

# Crash log files
crash.log
crash.*.log